* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
}

header{
  background-color: #FFF8F3;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 200px;
 
  
}
.nav-bar h3 {
  color: #181818;
  font-size: 45px;

  font-weight: 800;
 margin-top: 20px;
}
.nav-item {
  display: flex;
  align-items: center;
}
.nav-item li {
  text-decoration: none;
  list-style-type: none;
  margin-right: 25px;
  margin-top: 20px;
}
.nav-item a {
  text-decoration: none;
  color: var(--dark-02, #474747);

  font-size: 20px;

  font-weight: 400;
}
.btn  {
  padding: 10px 25px;
  font-weight: 700;
  

  border: none;
  background: #fd6e0a;
  color: aliceblue;
}

.name-color {
  color: #fd6e0a;
}
.banner{
  display: flex;
  padding: 30px 30px 30px 150px;
  align-items: center;
 
}

.header-img img{
  width: 500px;
  
}